/* === General styles === */
/* Buttons */

.btn
  border 1px solid #ccc
  padding 5px 10px
  cursor pointer
  display inline-block
  vertical-align top

.btn-block 
  display block

.btn-cancel
  position absolute
  top 0
  left 0
  padding 15px


/* Messages */
